@font-face {
	font-family: 'Rochester'; /* Name your font */
	src: url('/paradigm_modules/Rochester/Rochester-Regular.ttf') format('truetype'); /* Path to the font file */
}
@font-face {
	font-family: 'Bebas Neue'; /* Name your font */
	src: url('/paradigm_modules/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype'); /* Path to the font file */
}
:root {
	--menu-closed-width: 0rem;
	--menu-open-width: 100vw;
	--object-collections-controls: 2.5rem;
	--object-collections-tabs: 2.6rem;
	--object-collections-content: calc(100vh - var(--object-collections-controls) - var(--object-collections-tabs));
	--transition-time: 0.6s;
	--swoop:   cubic-bezier(.28,.2,0,1);
	--swoopv1: cubic-bezier(0,0,0,1.03);
	
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.button {
	min-width: 2.5rem;
}
@media (prefers-color-scheme: light) {
	.node-background-frosted {
		background-color: rgba(245, 245, 245, 0.6);
		backdrop-filter: blur(8px);
	}
	.grid2020-background {
		background-color: var(--bulma-text-95);
		background-size: 20px 20px;
		background-image: 
			linear-gradient(var(--bulma-text-90) 1px, transparent 1px), 
			linear-gradient(to right, var(--bulma-text-90) 1px, transparent 1px),
			linear-gradient(var(--bulma-text-50) 1px, transparent 2px), 
			linear-gradient(to right, var(--bulma-text-50) 1px, transparent 2px);
		background-position: 
			0px 0px, 
			0px 0px, 
			0px 0px, 
			0px 0px;
		background-size: 
			20px 20px, 
			20px 20px, 
			100px 100px, 
			100px 100px;
	}	
	.grid2020-backgroundV1 {
		background-color: var(--bulma-text-95);
		background-size: 20px 20px;
		background-image: linear-gradient(var(--bulma-text-90) 1px, transparent 1px), linear-gradient(to right, var(--bulma-text-90) 1px, transparent 1px);
	}
}
@media (prefers-color-scheme: dark) {
	.node-background-frosted {
		background-color: rgba( 10, 10, 10, 0.6);
		backdrop-filter: blur(8px);
	}
	/* Add this CSS to your stylesheet */
  
	.grid2020-background {
		background-color: var(--bulma-text-15); /* Dark mode background */
		background-size: 20px 20px;
		background-image: 
			linear-gradient(var(--bulma-text-20) 1px, transparent 1px), /* 20px grid lines */
			linear-gradient(to right, var(--bulma-text-20) 1px, transparent 1px), 
			linear-gradient(var(--bulma-text-25, var(--bulma-text-25)) 1px, transparent 2px), /* 100px bright lines */
			linear-gradient(to right, var(--bulma-text-25, var(--bulma-text-25)) 1px, transparent 2px);
		background-position: 
			0px 0px, 
			0px 0px, 
			0px 0px, 
			0px 0px;
		background-size: 
			20px 20px, 
			20px 20px, 
			100px 100px, 
			100px 100px;
	}
	
	.grid2020-backgroundV1 {
		background-color: var(--bulma-text-15);
		background-size: 20px 20px;
		background-image: linear-gradient(var(--bulma-text-20) 1px, transparent 1px), linear-gradient(to right, var(--bulma-text-20) 1px, transparent 1px);
	}
}
[data-theme=light],
.theme-light {
	.node-background-frosted {
		background-color: rgba(245, 245, 245, 0.6);
		backdrop-filter: blur(8px);
	}
	.grid2020-background {
		background-color: var(--bulma-text-90);
		background-size: 20px 20px;
		background-image: 
			linear-gradient(var(--bulma-text-95) 1px, transparent 1px), 
			linear-gradient(to right, var(--bulma-text-95) 1px, transparent 1px),
			linear-gradient(var(--bulma-text-100) 1px, transparent 2px), 
			linear-gradient(to right, var(--bulma-text-100) 1px, transparent 2px);
		background-position: 
			0px 0px, 
			0px 0px, 
			0px 0px, 
			0px 0px;
		background-size: 
			20px 20px, 
			20px 20px, 
			100px 100px, 
			100px 100px;
	}	
	.grid2020-backgroundV1 {
		background-color: var(--bulma-text-95);
		background-size: 20px 20px;
		background-image: linear-gradient(var(--bulma-text-90) 1px, transparent 1px), linear-gradient(to right, var(--bulma-text-90) 1px, transparent 1px);
	}
}
[data-theme=dark],
.theme-dark {
	.node-background-frosted {
		background-color: rgba( 10, 10, 10, 0.6);
		backdrop-filter: blur(8px);
	}
	.grid2020-background {
		background-color: var(--bulma-text-15); /* Dark mode background */
		background-size: 20px 20px;
		background-image: 
			linear-gradient(var(--bulma-text-20) 1px, transparent 1px), /* 20px grid lines */
			linear-gradient(to right, var(--bulma-text-20) 1px, transparent 1px), 
			linear-gradient(var(--bulma-text-25, var(--bulma-text-25)) 1px, transparent 2px), /* 100px bright lines */
			linear-gradient(to right, var(--bulma-text-25, var(--bulma-text-25)) 1px, transparent 2px);
		background-position: 
			0px 0px, 
			0px 0px, 
			0px 0px, 
			0px 0px;
		background-size: 
			20px 20px, 
			20px 20px, 
			100px 100px, 
			100px 100px;
	}
	
	.grid2020-backgroundV1 {
		background-color: var(--bulma-text-15);
		background-size: 20px 20px;
		background-image: linear-gradient(var(--bulma-text-20) 1px, transparent 1px), linear-gradient(to right, var(--bulma-text-20) 1px, transparent 1px);
	}
}
/* .wavy-background {
	background-color: var(--bulma-info-light);
	opacity: 0.8;
	background-image: repeating-radial-gradient(circle at 0 0, transparent 0, var(--bulma-info-light) 10px), repeating-linear-gradient(var(--bulma-info-invert), var(--bulma-primary-light));
}
.honeycomb-background {
	background:
		radial-gradient(circle farthest-side at 0% 50%, var(--has-background-light) 23.5%, var(--has-background-dark) 0)14.7px 21px,
		radial-gradient(circle farthest-side at 0% 50%, var(--has-background-info) 24%, var(--has-background-dark) 0)13.3px 21px,
		linear-gradient(var(--has-background-light) 14%, var(--has-background-dark) 0, var(--has-background-dark) 85%, var(--has-background-light) 0)0 0,
		linear-gradient(150deg, var(--has-background-light) 24%, var(--has-background-info) 0, var(--has-background-info) 26%, var(--has-background-dark) 0, var(--has-background-dark) 74%, var(--has-background-info) 0, var(--has-background-info) 76%, var(--has-background-light) 0)0 0,
		linear-gradient(30deg, var(--has-background-light) 24%, var(--has-background-info) 0, var(--has-background-info) 26%, var(--has-background-dark) 0, var(--has-background-dark) 74%, var(--has-background-info) 0, var(--has-background-info) 76%, var(--has-background-light) 0)0 0,
		linear-gradient(90deg, var(--has-background-info) 2%, var(--has-background-light) 0, var(--has-background-light) 98%, var(--has-background-info) 0%)0 0 var(--has-background-light);
	background-size: 28px 42px;
	background-color: var(--has-background-light);
}


.grid2525-background {
	background-image: linear-gradient(var(--has-background-dark) 1px, transparent 1px), linear-gradient(to right, var(--has-background-dark) 1px, transparent 1px);
	background-size: 25px 25px;
	background-color: var(--has_background_light);
}

.grid5050-background {
	background-image: linear-gradient(var(--has-background-dark) 1px, transparent 1px), linear-gradient(to right, var(--has-background-dark) 1px, transparent 1px);
	background-size: 50px 50px;
	background-color: var(--has_background_light);
}

.grid100100-background {
	background-image: linear-gradient(var(--has-background-dark) 1px, transparent 1px), linear-gradient(to right, var(--has-background-dark) 1px, transparent 1px);
	background-size: 100px 100px;
	background-color: var(--has_background_light);
}

.checkered-board {
	background-size: 200px 200px;
	background-image:
		linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
		linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
		linear-gradient(45deg, transparent 25%, black 25%, black 75%, transparent 75%, transparent),
		linear-gradient(45deg, transparent 25%, black 25%, black 75%, transparent 75%, transparent);
	background-position:
		0 0,
		100px 100px,
		100px 0,
		0 100px;
} */

.required {
	color: red;
}

#app_root_container {
	display: flex;
	flex-direction: row;
	/* height: auto; */
	height: 100vh;
	/* min-height: 0; */
	/* flex-grow: 0; */
	/* min-width: fit-content; */
	/* overflow-x: auto;
	overflow-y: auto; */
	overflow-x:auto;
	overflow-y:hidden;
	width: 100vw;
	/* padding-right: 0rem; */
	scrollbar-width: none; 
	-ms-overflow-style: none; 
}

/* OBJECT_COLLECTIONS */
#object_collections {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: var(--menu-closed-width);
	height: auto;
	/* border: 1px solid green; */
	overflow: auto;
	height: 100vh;
	transition: flex-basis var(--transition-time) var(--swoop);
	scrollbar-width: none; 
	-ms-overflow-style: none; 
}

#object_collections.show {
	/* flex-basis: var(--menu-open-width); */
	flex-basis: 50vw;
	/* width: 95vw; */
	max-width: calc(var(--menu-open-width));
	overflow: auto;
	padding-right: 0rem;
	/* display: flex; */

}
.object-collections-content{
	height: 0px;
	overflow: auto;
	scrollbar-width: none; 
	-ms-overflow-style: none;
}
.object-collections-content.show{
	height: var(--object-collections-content);
}
#object_collections_controls{
	height: var(--object-collections-controls);
}
#object_collection_tabs{
	height: var(--object-collections-tabs);
}
#app_menu_container{
	height: 0vh;
	overflow: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	transition: height var(--transition-time) var(--swoop);
}
#app_menu_container.show{
	height: calc(100vh - 44px);
}
#object-collections-container {
    display: flex;
    position: relative;
    width: 100%;
    height: var(--object-collections-content);
    overflow: hidden; /* Hide the overflowing content */
    /* border: solid green 1px; */
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition: height var(--transition-time) var(--swoop);
}

#object-collections-container::-webkit-scrollbar {
    display: none;
}

/* Default container style */
.object-collections-containers {
    width: 100%;                /* Full width so only one shows at a time */
    height: 100%;               /* Ensure content spans full height */
    transition: transform 0.6s var(--swoop), opacity 0.3s var(--swoop); 
    position: absolute;         /* Stack them on top of each other */
    top: 0;
    left: 0;
    opacity: 0;                 /* Initially, hide all content */
    pointer-events: none;       /* Prevent interaction with hidden content */
    z-index: -1;                /* Keep hidden content behind active content */
	/* border: solid red 1px; */
	min-width: fit-content;
	flex-shrink: 0;
	overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
	white-space: nowrap;        /* Prevent text from wrapping */
	transform: translateX(100%);
}

/* This class will apply a slide-in transform based on the active tab */
.object-collections-containers.show {
    opacity: 1;                 /* Make active content visible */
    pointer-events: auto;       /* Enable interaction with the active content */
    z-index: 1;                 /* Bring active content in front */
    /* transform: translateX(0);    */
}

/* Move inactive content out of view */
.object-collections-containers {
    transform: translateX(100%); /* Move inactive content off-screen */
}



/* APP_CONTAINER */
#app_container {
	flex-grow: 0; /* Do not grow to fill the remaining space */
	flex-shrink: 0; /* Do not shrink */
	flex-basis: auto;
	width: 100%;
	/* min-height: 0;
	min-width: 0; */
	overflow: scroll;
	/* display: flex; */
	/* flex-direction: column; */
	height: auto;
	padding-bottom: 1rem;
	padding-right: 0rem;
	/* scrollbar-width: none; 
	-ms-overflow-style: none; */
}


#app_top_menu_container{
	height: 2.2rem;
	transition: height var(--transition-time) var(--swoop);
}
#app_top_menu_container.hide{
	height: 0rem;
}
.hide{
	opacity: 0;
	height: 0;
}

/* .app_configurator_containers{
	width: 100%;
	height: 0px;
	scrollbar-width: none; 
	-ms-overflow-style: none;
	overflow: hidden;
}
.app_configurator_containers.show{
	width: 100%;
	height: auto;
} */
.datastore-status-indicator{
	height: 2.2rem; 
	min-width:2.8rem;
}
#project_controls{
	overflow: hidden;
	height: 0rem; 
	transition: height var(--transition-time) var(--swoop);
	margin: 0;
	overflow: hidden;
}
#project_controls.show{
	height: 2.2rem;
}

#app_center_container{
	display: flex;
    overflow: hidden;
    position: relative;

	height: 0rem; 
	transition: height var(--transition-time) var(--swoop);
	margin: 0;
	overflow: hidden;
}
#app_center_container.show{
	height: 2.2rem;
}
#app_configurator_container {
	display: flex;
    overflow: hidden;
    position: relative;
	width: 100%;
	height: 0px;
	padding-right: 1vh;
	/* overflow: auto; */
	/* border: solid green 1px;  */
	scrollbar-width: none; 
	-ms-overflow-style: none;
	transition: height var(--transition-time) var(--swoop);
}
#app_configurator_container.show {
	height: calc(80vh);
}

.app_configurator_groups{
	height: calc(80vh);
}

#app_configurator_container::-webkit-scrollbar {
	display: none; 
}

.app_configurator_containers {
    min-width: 100%;
    transition: transform 0.6s var(--swoop), opacity 0.3s var(--swoop);
    position: absolute;
    top: 0;
    left: 0;
	opacity: 0;
    transform: translateX(100%);
}

.app_configurator_containers.show {
    position: relative;
    z-index: auto;
    /* transform: translateX(0); */
	opacity: 1;
}

.canvas_zoom {
    transition: transform 0.3s ease; /* Smooth zoom transition */
    transform-origin: top left; /* Adjust the origin of zoom */
}

.app_graph_controls_containers{
	height: fit-content;
	width: fit-content;
	scrollbar-width: none;
	-ms-overflow-style: none
}
#app_graph_tabs_container {
	height: 0px;
	width: 100%;
	overflow: hidden;
	/* opacity: 0; */
	transition: opacity var(--transition-time) var(--swoop), height var(--transition-time) var(--swoop);
}
#app_graph_tabs_container.show{
	width: 100%;
	/* height: 10rem; */
	height: 2.9rem;
	/* opacity: 1; */
}
.system-status-indicator{
	min-width: 3.5rem;
}
.scroll_content{
	transition: transform 0.3s ease; /* Smooth zoom transition */
    transform-origin: top left; /* Adjust the origin of zoom */
	scrollbar-width: none;
	-ms-overflow-style: none;
	border-radius: 10px;
}

#app_content {
	flex: 1;
	display: flex;
	flex-direction: column;
	max-height: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/* Helper section */
#app_data_preparation_area {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 0;
	width: 1;
	max-width: 0;
	opacity: 0;
	transition: flex-basis var(--transition-time) var(--swoop), width var(--transition-time) var(--swoop), max-width var(--transition-time) var(--swoop), opacity var(--transition-time) var(--swoop);
	overflow: hidden;
	/* padding-right: 1rem;
	padding-bottom: 1rem; */
	padding: 0rem;
	/* border: solid purple 3px; */
	overflow: auto;
	height: 100vh;
}

#app_data_preparation_area.show {
	flex-basis: 1rem;
	width: 95vw;
	max-width: calc(var(--menu-open-width));
	opacity: 1;
	overflow: auto;
	padding-right: 0rem;
	/* display: flex; */
}

/* Initial state for the divs */
#app_data_preparation_area .collapsible {
    transition: opacity var(--transition-time) var(--swoop);
    opacity: 1;
    overflow: hidden; /* Prevents content overflow during transition */
}

/* Collapsing and fading-out state */
#app_data_preparation_area .collapsing {
    width: 0; /* Collapses the width smoothly */
    opacity: 0;
    padding: 0; /* Optional: Adjusts padding during collapse */
    margin: 0;  /* Optional: Removes any outer spacing */
	
}


/* APP_CONSOLE */
#app_console {
	position: fixed;
	bottom: -70vh;
	left: 2vw;
	width: 96vw;
	height: 70vh;
	max-height: 95vh;
	border-radius: 10px;
	box-shadow: 0 0 10px #00000033;
	background-color: var(--bulma-background);
	overflow: auto;
	transition: transform var(--transition-time) var(--swoop);
	transform: translateY(0%);
	resize: both;
	z-index: 9999;
	padding: 1rem;
	}

#app_console.show {
	transform: translateY(-72vh);
	/* Fly it up to the visible screen */
}

.document-saveload{
	width: fit-content;
	height: 2.5rem;
}
.runtime-controls{
	width: 2.5rem;
	height: 2.5rem;
}
/* Always-visible document-saveload-container (no animation) */
.document-saveload-container {
    width: auto;               /* Fixed width to keep it always visible */
    overflow: hidden;            /* Hide any overflow if needed */
    display: flex;
    align-items: center;         /* Center buttons vertically */
    gap: 0.01rem;                 /* Add space between buttons */
	margin-right: 0.6rem;
	margin-top: 0.2rem;
}

/* Base styles for the other control containers (with animation) */
.addremove-control-container{
    width: 0;                       /* Start collapsed */
    overflow: hidden;               /* Hide overflowing content */
    transition: width 0.5s var(--swoop), opacity 0.5s var(--swoop); /* Animate width and opacity */
    opacity: 0;                     /* Hidden by default */
    display: flex;                  /* Keeps buttons in a row */
    align-items: center;            /* Center-aligns buttons vertically */
    gap: 0.01rem;                    /* Adds spacing between buttons */
	/* margin-bottom: 0.7rem; */
}

/* Expanded states with target widths */
.addremove-control-container.show {
    width: 5.5rem;
    opacity: 1;                     /* Fade in */
}

/* Prevent content shrinking for all control buttons */
.addremove-control-container > button{
    flex-shrink: 0;                 /* Prevent buttons from shrinking */
}
#Loader_container {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	font-family: Arial, sans-serif;
	opacity: 1;
	transition: opacity var(--transition-time) var(--swoop);
	overflow: hidden;
}
#Loader_container.show{
	opacity: 1;
}
#Loader_container.hide{
	opacity: 0;
	height: 0vh;
}
#ParadigmREVOLUTION_Loader {
	position: absolute;
	top: 25%; /* 1/4 from the top */
	width: 80vw;
	height: 20px; /* Adjust height of the progress bar as needed */
	/* margin-left: 10vw; */
}

#ParadigmREVOLUTION_LoaderStatus {
	position: absolute;
	top: calc(25% + 40px); /* Positioned below the progress bar */
	width: 80vw;
	height: 60vh;
	/* display: flex;
	align-items: center;
	justify-content: center; */
	/* margin-left: 10vw; */
}
#ParadigmREVOLUTION_LoaderTitle {
	position: absolute;
	top: 7%; /* Positioned just above the progress bar */
	font-size: 5rem; /* Set text size */
	text-align: center;
	font-weight: bold;
	width: 100%; /* Span full width for centering */
	z-index: 99;
}

#ParadigmREVOLUTION {
	opacity: 0;
	transition: opacity var(--transition-time) var(--swoop);
}
#ParadigmREVOLUTION.show {
	opacity: 1;
}
.box {
	display: inline-block; /* Makes the box size based on its content */
	width: 100%;/* Ensures the box's width adjusts to fit its content */
	max-width: none; /* Removes any max-width constraints */
	white-space: nowrap; /* Prevents content from wrapping if it's inline text */
}
.is-selectable-box.focused {
	border: 2px solid var(--bulma-primary);
	width: fit-content !important;
}
#app_graph_tabs{
	overflow-x: auto;
}
#app_graph_tabs .hidden {
	display: none;
}
.focused {
	border: 2px solid var(--bulma-primary);
	border-radius: 10px;
}
/* Tab container animations */
/* .tab-content {
    transition: transform 5s var(--swoop), opacity 5s var(--swoop);
    opacity: 0.2;
    transform: translateY(100%);
}

.tab-content.show {
    opacity: 1;
    transform: translateY(0);
} */
/* Base state for tabs */
.tabs li {
    transition: transform var(--transition-time) var(--swoop), opacity var(--transition-time) var(--swoop), width var(--transition-time) var(--swoop);
    opacity: 0;
    transform: translateY(100%); /* Move downward initially */
    visibility: hidden; /* Prevent interaction when hidden */
	width: 0;
}

/* Visible state for tabs */
.tabs li.show {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
    visibility: visible; /* Allow interaction when shown */
	width: fit-content;
    transition: transform var(--transition-time) var(--swoop), opacity var(--transition-time) var(--swoop), width var(--transition-time) var(--swoop);
}
.data_preparation_box{
	transition: transform var(--transition-time) var(--swoop);
    position: relative;
}
/* .graph_node_surface{
	width: 100%;
	height: 100%;
	display: relative;
	top: 0;
	left: 0;
}
.graph_connection_surface{
	width: 100%;
	height: 100%;
	display: relative;
	top: 0;
	left: 0;
	z-index:999;
}
.graph_surfaces{
	display: relative;
} */
.graph_node_surface {
	position: absolute; /* Use absolute to stack within the parent container */
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background: transparent;
	pointer-events: none; /* Make the entire .graph_node_surface "transparent" to pointer events */
}
.graph_node_surface .card-header {
	pointer-events: all; /* Allow pointer events on the header */
}
.graph_connection_surface {
	position: absolute; /* Stacks in the same coordinate space as graph_node_surface */
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	pointer-events: none; /* Disable pointer events for the container */
}
.graph_connection_surface path {
	pointer-events: all;      /* Ensure pointer events are detected on the stroke */
	transition: stroke-width 0.25s; /* Smoothly change the stroke width */
}
.graph_connection_surface path:hover {
	stroke-width: 12px;          /* Set the clickable area width */
}
.graph_connection_surface path.focused {
	/* stroke: var(--bulma-primary); */
	stroke-width: 18px;          /* Set the clickable area width */
}
  
.graph_surfaces {
	position: relative; /* Establishes stacking context for child elements */
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease; /* Smooth zoom transition */
	transform-origin: top left; /* Adjust the origin of zoom */
}
  

@keyframes fadeIn {
	from {
		opacity: 0;
		filter: blur(5px);
	}
	to {
		opacity: 1;
		filter: blur(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		filter: blur(0);
	}
	to {
		opacity: 0;
		filter: blur(10px);
	}
}

.fade-in {
	animation: fadeIn 0.3s ease-in-out;
}
.fade-out {
	animation: fadeOut 0.3s ease-in-out;
}
.card-header-title{
	user-select: none;
}
.graph-node {
	pointer-events: all;
}
.breathing-text {
	animation: breathe-color 1.5s infinite;
  }

  @keyframes breathe-color {
	0% {
	  color: var(--bulma-warning);
	}
	50% {
	  color: var(--bulma-text);
	}
	100% {
	  color: var(--bulma-warning);
	}
  }

.graph_path {
	position: fixed;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 99999;
	width: fit-content;
	display: flex;
	align-items: center;
	border-radius: 10px; /* Rounded corners for aesthetic effect */
	padding: 0rem; /* Add some spacing inside the container */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
	border: solid 1px var(--bulma-border-weak); /* Add a border for contrast */
	transition: opacity 0.3s ease-in-out;
	user-select: none;
	pointer-events: auto;
}
.graph_path:hover {
	opacity: 0;
	pointer-events: none;
}

.graph_controls {
	position: fixed;
	top: 0.5rem;
	right: 0.5rem;
	z-index: 99999;
	width: fit-content;
	display: flex;
	align-items: center;
	border-radius: 10px; /* Rounded corners for aesthetic effect */
	padding: 0.25rem; /* Add some spacing inside the container */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
	border: solid 1px var(--bulma-border-weak); /* Add a border for contrast */
}

.graph_controls .button {
    background: transparent; /* Transparent button backgrounds */
    border: none; 
    color: inherit; /* Keep icon colors consistent */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.9rem;
    transition: background 0.3s ease-in-outs, border 0.3s ease-in-outs; /* Smooth hover effect */
}

.graph_controls .button:hover {
    border: solid 1px var(--bulma-border-weak);
}

.fullscreen{
	width: 100vw !important;
	height: 100vh !important;
}

#app_console{
	scrollbar-width: none;
	-ms-overflow-style: none;
}






@media screen and (max-width: 800px) {
	#object_collections.show {
		min-width: 100vw;
	}
	.graph_controls{
		width: 200px;
	}
		
	
	/* Center all columns on small screens */
   .app_graph_controls_containers {
		justify-content: center !important; /* Center align content */
		text-align: center; /* Optional: Center text inside */
		backdrop-filter: blur(2px);
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	#app_graph_tabs_container.show{
		width: 100%;
		height: 8.5rem;
		justify-content: center !important; /* Center align content */
		/* opacity: 1; */
	}
	#app_configurator_container.show {
		height: calc(70vh);
	}
}
@media screen and (min-width: 801px) and (max-width: 1000px) {
	/* Center all columns on small screens */
   .app_graph_controls_containers {
	   justify-content: center !important; /* Center align content */
	   text-align: center; /* Optional: Center text inside */
	   backdrop-filter: blur(2px);
   }
   #app_graph_tabs_container.show{
	   width: 100%;
	   height: 5.8rem;
	   justify-content: center !important; /* Center align content */
	   /* opacity: 1; */
   }
   #app_configurator_container.show {
	   height: calc(70vh);
   }
   
}
.zoomLevel {
    display: inline-block; /* Ensures span respects dimensions */
    text-align: center; /* Centers text inside the element */
    vertical-align: middle; /* Aligns element content */
    border: 2px solid var(--bulma-border-weak); /* Adds a border */
    border-radius: 8px; /* Creates a rounded border */
    min-width: 2.7rem; /* Sets the minimum width */
    height: 2.2rem; /* Ensures it's a circle */
    line-height: 2rem; /* Vertically centers the text */
    padding: 0; /* Avoid extra spacing inside the element */
    box-sizing: border-box; /* Ensures padding and border are included in size */
}
/* Disable text selection */
.no-select {
    user-select: none; /* Supported in most modern browsers */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Older versions of Internet Explorer */
}

/* Remove focus outline */
.no-outline {
    outline: none; /* Removes the focus outline */
}
.node-controls .node-footer{
	pointer-events: all;
}
.graph-controls{
	height: 2.5rem;
	min-width: 2.5rem;
}
.addremove-control-container{
	padding-left: 0.1rem;
}
.card-footer{
	height: 0rem;
	overflow: hidden;
	transition: height var(--transition-time) var(--swoop);
}
.card-footer.show{
	height: 2.8rem;
}
