:root {
    --bg-color-a01: rgba(255, 255, 255, 0.1);
    --bg-color-a02: rgba(255, 255, 255, 0.2);
    --bg-color-a03: rgba(255, 255, 255, 0.3);
    --bg-color-a04: rgba(255, 255, 255, 0.4);
    --bg-color-a05: rgba(255, 255, 255, 0.5);
    --bg-color-a06: rgba(255, 255, 255, 0.6);
    --bg-color-a07: rgba(255, 255, 255, 0.7);
    --bg-color-a08: rgba(255, 255, 255, 0.8);
    --bg-color-a09: rgba(255, 255, 255, 0.9);
    --bg-color    : rgba(255, 255, 255, 1);
    
    --text-color: rgba(39, 49, 61, 1);
    --text-soft-color: rgba(68, 75, 83, 1);
    --text-strong-color: rgba(74, 74, 74, 1);
    
    --subtle-color-a01: rgba(247, 249, 253, 0.1);
    --subtle-color-a02: rgba(247, 249, 253, 0.2);
    --subtle-color-a03: rgba(247, 249, 253, 0.3);
    --subtle-color-a04: rgba(247, 249, 253, 0.4);
    --subtle-color-a05: rgba(247, 249, 253, 0.5);
    --subtle-color-a06: rgba(247, 249, 253, 0.6);
    --subtle-color-a07: rgba(247, 249, 253, 0.7);
    --subtle-color-a08: rgba(247, 249, 253, 0.8);
    --subtle-color-a09: rgba(247, 249, 253, 0.9);
    --subtle-color    : rgba(247, 249, 253, 1);
    
    --border-color: rgba(221, 232, 246, 1);
    
	--shadow-color-a01: rgba(171, 193, 220, 0.1);
	--shadow-color-a02: rgba(171, 193, 220, 0.2);
	--shadow-color-a03: rgba(171, 193, 220, 0.3);
	--shadow-color-a04: rgba(171, 193, 220, 0.4);
	--shadow-color-a05: rgba(171, 193, 220, 0.5);
	--shadow-color-a06: rgba(171, 193, 220, 0.6);
	--shadow-color-a07: rgba(171, 193, 220, 0.7);
	--shadow-color-a08: rgba(171, 193, 220, 0.8);
	--shadow-color-a09: rgba(171, 193, 220, 0.9);
	--shadow-color: rgba(171, 193, 220, 1);

    --input-color: rgba(255, 255, 255, 1);
    
	--outline-color-a01: rgba(157, 195, 235, 0.1);
	--outline-color-a02: rgba(157, 195, 235, 0.2);
	--outline-color-a03: rgba(157, 195, 235, 0.3);
	--outline-color-a04: rgba(157, 195, 235, 0.4);
	--outline-color-a05: rgba(157, 195, 235, 0.5);
	--outline-color-a06: rgba(157, 195, 235, 0.6);
	--outline-color-a07: rgba(157, 195, 235, 0.7);
	--outline-color-a08: rgba(157, 195, 235, 0.8);
	--outline-color-a09: rgba(157, 195, 235, 0.9);
	--outline-color: rgba(157, 195, 235, 1);
    
	--mark-color: rgba(71, 132, 182, 0.08);
    --special-color: rgba(71, 132, 182, 1);
    --special-bg-color: rgba(73, 136, 188, 1);
    --special-text-color: rgba(255, 255, 255, 1);
    --special-shadow-color: rgba(71, 91, 113, 1);
    --special-mark-color: rgba(255, 255, 255, 0.08);
    --light-color: rgba(238, 244, 252, 1);
    --dark-color: rgba(55, 72, 90, 1);
    --text-color-rgb: 39, 49, 61;
    --bg-color-rgb: 255, 255, 255;
    --subtle-color-rgb: 247, 249, 253;
    --special-color-rgb: 71, 132, 182;
    --special-text-color-rgb: 255, 255, 255;
    --special-bg-color-rgb: 73, 136, 188;
    --shadow-color-rgb: 171, 193, 220;
    --special-shadow-color-rgb: 71, 91, 113;
    --outline-color-rgb: 157, 195, 235;
    --dark-color-rgb: 55, 72, 90;
    --light-color-rgb: 238, 244, 252;

	--soft-box-shadow-l4: 
		4.4px 4.5px 6px rgba(0, 0, 0, 0.055),
		12.3px 12.5px 15px rgba(0, 0, 0, 0.09),
		29.5px 30.1px 32px rgba(0, 0, 0, 0.118),
		98px 100px 80px rgba(0, 0, 0, 0.14);
	--soft-box-shadow-l10: 
		0.5px 1.5px 1px rgba(0, 0, 0, 0.015),
		1px 3.3px 2.9px rgba(0, 0, 0, 0.022),
		1.7px 5.5px 6px rgba(0, 0, 0, 0.028),
		2.6px 8.3px 10.6px rgba(0, 0, 0, 0.032),
		3.8px 12px 17.1px rgba(0, 0, 0, 0.036),
		5.3px 17px 26.4px rgba(0, 0, 0, 0.04),
		7.5px 24.1px 39.8px rgba(0, 0, 0, 0.044),
		11px 35px 59.6px rgba(0, 0, 0, 0.049),
		16.9px 54px 91.5px rgba(0, 0, 0, 0.055),
		30px 96px 157px rgba(0, 0, 0, 0.07);

}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color-a01: rgba(32, 32, 32, 0.1);
        --bg-color-a02: rgba(32, 32, 32, 0.2);
        --bg-color-a03: rgba(32, 32, 32, 0.3);
        --bg-color-a04: rgba(32, 32, 32, 0.4);
        --bg-color-a05: rgba(32, 32, 32, 0.5);
        --bg-color-a06: rgba(32, 32, 32, 0.6);
        --bg-color-a07: rgba(32, 32, 32, 0.7);
        --bg-color-a08: rgba(32, 32, 32, 0.8);
        --bg-color-a09: rgba(32, 32, 32, 0.9);
        --bg-color    : rgba(32, 32, 32, 1);

        --text-color: rgba(220, 223, 229, 1);
        --text-soft-color: rgba(184, 188, 194, 1);
        --text-strong-color: rgba(187, 187, 187, 1);

        --subtle-color-a01: rgba(33, 37, 42, 0.1);
        --subtle-color-a02: rgba(33, 37, 42, 0.2);
        --subtle-color-a03: rgba(33, 37, 42, 0.3);
        --subtle-color-a04: rgba(33, 37, 42, 0.4);
        --subtle-color-a05: rgba(33, 37, 42, 0.5);
        --subtle-color-a06: rgba(33, 37, 42, 0.6);
        --subtle-color-a07: rgba(33, 37, 42, 0.7);
        --subtle-color-a08: rgba(33, 37, 42, 0.8);
        --subtle-color-a09: rgba(33, 37, 42, 0.9);
        --subtle-color    : rgba(33, 37, 42, 1);

        --border-color: rgba(38, 49, 61, 1);

        --shadow-color-a01: rgba(0, 0, 0, 0.1);
        --shadow-color-a02: rgba(0, 0, 0, 0.2);
        --shadow-color-a03: rgba(0, 0, 0, 0.3);
        --shadow-color-a04: rgba(0, 0, 0, 0.4);
        --shadow-color-a05: rgba(0, 0, 0, 0.5);
        --shadow-color-a06: rgba(0, 0, 0, 0.6);
        --shadow-color-a07: rgba(0, 0, 0, 0.7);
        --shadow-color-a08: rgba(0, 0, 0, 0.8);
        --shadow-color-a09: rgba(0, 0, 0, 0.9);
        --shadow-color: rgba(0, 0, 0, 1);
        
		--input-color: rgba(28, 28, 28, 1);
        
		--outline-color-a01: rgba(100, 164, 220, 0.1);
		--outline-color-a02: rgba(100, 164, 220, 0.2);
		--outline-color-a03: rgba(100, 164, 220, 0.3);
		--outline-color-a04: rgba(100, 164, 220, 0.4);
		--outline-color-a05: rgba(100, 164, 220, 0.5);
		--outline-color-a06: rgba(100, 164, 220, 0.6);
		--outline-color-a07: rgba(100, 164, 220, 0.7);
		--outline-color-a08: rgba(100, 164, 220, 0.8);
		--outline-color-a09: rgba(100, 164, 220, 0.9);
		--outline-color: rgba(100, 164, 220, 1);

        --mark-color: rgba(87, 144, 193, 0.08);
        --special-color: rgba(87, 144, 193, 1);
        --special-bg-color: rgba(60, 102, 138, 1);
        --special-text-color: rgba(220, 223, 229, 1);
        --special-shadow-color: rgba(22, 31, 40, 1);
        --special-mark-color: rgba(220, 223, 229, 0.08);
        --light-color: rgba(191, 214, 242, 1);
        --dark-color: rgba(39, 54, 69, 1);
        --text-color-rgb: 220, 223, 229;
        --bg-color-rgb: 32, 32, 32;
        --subtle-color-rgb: 33, 37, 42;
        --special-color-rgb: 87, 144, 193;
        --special-text-color-rgb: 220, 223, 229;
        --special-bg-color-rgb: 60, 102, 138;
        --shadow-color-rgb: 0, 0, 0;
        --special-shadow-color-rgb: 22, 31, 40;
        --outline-color-rgb: 100, 164, 220;
        --dark-color-rgb: 39, 54, 69;
        --light-color-rgb: 191, 214, 242;
    }
}

@media (prefers-color-scheme: light) and (prefers-contrast: more) {
    :root {
		--bg-color-a01: rgba(255, 255, 255, 0.1);
		--bg-color-a02: rgba(255, 255, 255, 0.2);
		--bg-color-a03: rgba(255, 255, 255, 0.3);
		--bg-color-a04: rgba(255, 255, 255, 0.4);
		--bg-color-a05: rgba(255, 255, 255, 0.5);
		--bg-color-a06: rgba(255, 255, 255, 0.6);
		--bg-color-a07: rgba(255, 255, 255, 0.7);
		--bg-color-a08: rgba(255, 255, 255, 0.8);
		--bg-color-a09: rgba(255, 255, 255, 0.9);
		--bg-color    : rgba(255, 255, 255, 1);

		--text-color: rgba(25, 33, 41, 1);
        --text-soft-color: rgba(29, 32, 37, 1);
        --text-strong-color: rgba(74, 74, 74, 1);

		--subtle-color-a01: rgba(247, 249, 253, 0.1);
		--subtle-color-a02: rgba(247, 249, 253, 0.2);
		--subtle-color-a03: rgba(247, 249, 253, 0.3);
		--subtle-color-a04: rgba(247, 249, 253, 0.4);
		--subtle-color-a05: rgba(247, 249, 253, 0.5);
		--subtle-color-a06: rgba(247, 249, 253, 0.6);
		--subtle-color-a07: rgba(247, 249, 253, 0.7);
		--subtle-color-a08: rgba(247, 249, 253, 0.8);
		--subtle-color-a09: rgba(247, 249, 253, 0.9);
		--subtle-color    : rgba(247, 249, 253, 1);

        --border-color: rgba(166, 183, 204, 1);

        --shadow-color-a01: rgba(138, 158, 182, 0.1);
        --shadow-color-a02: rgba(138, 158, 182, 0.2);
        --shadow-color-a03: rgba(138, 158, 182, 0.3);
        --shadow-color-a04: rgba(138, 158, 182, 0.4);
        --shadow-color-a05: rgba(138, 158, 182, 0.5);
        --shadow-color-a06: rgba(138, 158, 182, 0.6);
        --shadow-color-a07: rgba(138, 158, 182, 0.7);
        --shadow-color-a08: rgba(138, 158, 182, 0.8);
        --shadow-color-a09: rgba(138, 158, 182, 0.9);
        --shadow-color: rgba(138, 158, 182, 1);
        
		--input-color: rgba(255, 255, 255, 1);

		--outline-color-a01: rgba(126, 179, 230, 0.1);
		--outline-color-a02: rgba(126, 179, 230, 0.2);
		--outline-color-a03: rgba(126, 179, 230, 0.3);
		--outline-color-a04: rgba(126, 179, 230, 0.4);
		--outline-color-a05: rgba(126, 179, 230, 0.5);
		--outline-color-a06: rgba(126, 179, 230, 0.6);
		--outline-color-a07: rgba(126, 179, 230, 0.7);
		--outline-color-a08: rgba(126, 179, 230, 0.8);
		--outline-color-a09: rgba(126, 179, 230, 0.9);
		--outline-color: rgba(126, 179, 230, 1);

		--mark-color: rgba(53, 101, 140, 0.16);
        --special-color: rgba(53, 101, 140, 1);
        --special-bg-color: rgba(55, 105, 145, 1);
        --special-text-color: rgba(255, 255, 255, 1);
        --special-shadow-color: rgba(25, 34, 44, 1);
        --special-mark-color: rgba(255, 255, 255, 0.16);
        --light-color: rgba(238, 244, 252, 1);
        --dark-color: rgba(55, 72, 90, 1);
        --text-color-rgb: 25, 33, 41;
        --bg-color-rgb: 255, 255, 255;
        --subtle-color-rgb: 247, 249, 253;
        --special-color-rgb: 53, 101, 140;
        --special-text-color-rgb: 255, 255, 255;
        --special-bg-color-rgb: 55, 105, 145;
        --shadow-color-rgb: 138, 158, 182;
        --special-shadow-color-rgb: 25, 34, 44;
        --outline-color-rgb: 126, 179, 230;
        --dark-color-rgb: 55, 72, 90;
        --light-color-rgb: 238, 244, 252;
    }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
    :root {
		--bg-color-a01: rgba(32, 32, 32, 0.1);
        --bg-color-a02: rgba(32, 32, 32, 0.2);
        --bg-color-a03: rgba(32, 32, 32, 0.3);
        --bg-color-a04: rgba(32, 32, 32, 0.4);
        --bg-color-a05: rgba(32, 32, 32, 0.5);
        --bg-color-a06: rgba(32, 32, 32, 0.6);
        --bg-color-a07: rgba(32, 32, 32, 0.7);
        --bg-color-a08: rgba(32, 32, 32, 0.8);
        --bg-color-a09: rgba(32, 32, 32, 0.9);
        --bg-color    : rgba(32, 32, 32, 1);

        --text-color: rgba(238, 239, 242, 1);
        --text-soft-color: rgba(238, 239, 241, 1);
        --text-strong-color: rgba(187, 187, 187, 1);
        
		--subtle-color-a01: rgba(33, 37, 42, 0.1);
        --subtle-color-a02: rgba(33, 37, 42, 0.2);
        --subtle-color-a03: rgba(33, 37, 42, 0.3);
        --subtle-color-a04: rgba(33, 37, 42, 0.4);
        --subtle-color-a05: rgba(33, 37, 42, 0.5);
        --subtle-color-a06: rgba(33, 37, 42, 0.6);
        --subtle-color-a07: rgba(33, 37, 42, 0.7);
        --subtle-color-a08: rgba(33, 37, 42, 0.8);
        --subtle-color-a09: rgba(33, 37, 42, 0.9);
        --subtle-color    : rgba(33, 37, 42, 1);
		
		--border-color: rgba(74, 81, 91, 1);

		--shadow-color-a01: rgba(0, 0, 0, 0.1);
        --shadow-color-a02: rgba(0, 0, 0, 0.2);
        --shadow-color-a03: rgba(0, 0, 0, 0.3);
        --shadow-color-a04: rgba(0, 0, 0, 0.4);
        --shadow-color-a05: rgba(0, 0, 0, 0.5);
        --shadow-color-a06: rgba(0, 0, 0, 0.6);
        --shadow-color-a07: rgba(0, 0, 0, 0.7);
        --shadow-color-a08: rgba(0, 0, 0, 0.8);
        --shadow-color-a09: rgba(0, 0, 0, 0.9);
		--shadow-color: rgba(0, 0, 0, 1);
        
		--input-color: rgba(28, 28, 28, 1);

        --outline-color-a01: rgba(98, 161, 215, 0.1);
        --outline-color-a02: rgba(98, 161, 215, 0.2);
        --outline-color-a03: rgba(98, 161, 215, 0.3);
        --outline-color-a04: rgba(98, 161, 215, 0.4);
        --outline-color-a05: rgba(98, 161, 215, 0.5);
        --outline-color-a06: rgba(98, 161, 215, 0.6);
        --outline-color-a07: rgba(98, 161, 215, 0.7);
        --outline-color-a08: rgba(98, 161, 215, 0.8);
        --outline-color-a09: rgba(98, 161, 215, 0.9);
        --outline-color: rgba(98, 161, 215, 1);
        
		--mark-color: rgba(126, 179, 230, 0.16);
        --special-color: rgba(126, 179, 230, 1);
        --special-bg-color: rgba(48, 82, 113, 1);
        --special-text-color: rgba(238, 239, 242, 1);
        --special-shadow-color: rgba(0, 0, 0, 1);
        --special-mark-color: rgba(238, 239, 242, 0.16);
        --light-color: rgba(216, 229, 246, 1);
        --dark-color: rgba(39, 54, 69, 1);
        --text-color-rgb: 238, 239, 242;
        --bg-color-rgb: 32, 32, 32;
        --subtle-color-rgb: 33, 37, 42;
        --special-color-rgb: 126, 179, 230;
        --special-text-color-rgb: 238, 239, 242;
        --special-bg-color-rgb: 48, 82, 113;
        --shadow-color-rgb: 0, 0, 0;
        --special-shadow-color-rgb: 0, 0, 0;
        --outline-color-rgb: 98, 161, 215;
        --dark-color-rgb: 39, 54, 69;
        --light-color-rgb: 216, 229, 246;
    }
}

.light-theme {
    --bg-color-a01: rgba(255, 255, 255, 0.1);
    --bg-color-a02: rgba(255, 255, 255, 0.2);
    --bg-color-a03: rgba(255, 255, 255, 0.3);
    --bg-color-a04: rgba(255, 255, 255, 0.4);
    --bg-color-a05: rgba(255, 255, 255, 0.5);
    --bg-color-a06: rgba(255, 255, 255, 0.6);
    --bg-color-a07: rgba(255, 255, 255, 0.7);
    --bg-color-a08: rgba(255, 255, 255, 0.8);
    --bg-color-a09: rgba(255, 255, 255, 0.9);
    --bg-color    : rgba(255, 255, 255, 1);
    
    --text-color: rgba(39, 49, 61, 1);
    --text-soft-color: rgba(68, 75, 83, 1);
    --text-strong-color: rgba(74, 74, 74, 1);
    
    --subtle-color-a01: rgba(247, 249, 253, 0.1);
    --subtle-color-a02: rgba(247, 249, 253, 0.2);
    --subtle-color-a03: rgba(247, 249, 253, 0.3);
    --subtle-color-a04: rgba(247, 249, 253, 0.4);
    --subtle-color-a05: rgba(247, 249, 253, 0.5);
    --subtle-color-a06: rgba(247, 249, 253, 0.6);
    --subtle-color-a07: rgba(247, 249, 253, 0.7);
    --subtle-color-a08: rgba(247, 249, 253, 0.8);
    --subtle-color-a09: rgba(247, 249, 253, 0.9);
    --subtle-color    : rgba(247, 249, 253, 1);
    
    --border-color: rgba(221, 232, 246, 1);

    --shadow-color-a01: rgba(171, 193, 220, 0.1);
    --shadow-color-a02: rgba(171, 193, 220, 0.2);
    --shadow-color-a03: rgba(171, 193, 220, 0.3);
    --shadow-color-a04: rgba(171, 193, 220, 0.4);
    --shadow-color-a05: rgba(171, 193, 220, 0.5);
    --shadow-color-a06: rgba(171, 193, 220, 0.6);
    --shadow-color-a07: rgba(171, 193, 220, 0.7);
    --shadow-color-a08: rgba(171, 193, 220, 0.8);
    --shadow-color-a09: rgba(171, 193, 220, 0.9);
    --shadow-color: rgba(171, 193, 220, 1);

    --input-color: rgba(255, 255, 255, 1);
    
	--outline-color-a01: rgba(157, 195, 235, 0.1);
	--outline-color-a02: rgba(157, 195, 235, 0.2);
	--outline-color-a03: rgba(157, 195, 235, 0.3);
	--outline-color-a04: rgba(157, 195, 235, 0.4);
	--outline-color-a05: rgba(157, 195, 235, 0.5);
	--outline-color-a06: rgba(157, 195, 235, 0.6);
	--outline-color-a07: rgba(157, 195, 235, 0.7);
	--outline-color-a08: rgba(157, 195, 235, 0.8);
	--outline-color-a09: rgba(157, 195, 235, 0.9);
	--outline-color: rgba(157, 195, 235, 1);

    --mark-color: rgba(71, 132, 182, 0.08);
    --special-color: rgba(71, 132, 182, 1);
    --special-bg-color: rgba(73, 136, 188, 1);
    --special-text-color: rgba(255, 255, 255, 1);
    --special-shadow-color: rgba(71, 91, 113, 1);
    --special-mark-color: rgba(255, 255, 255, 0.08);
    --light-color: rgba(238, 244, 252, 1);
    --dark-color: rgba(55, 72, 90, 1);
    --text-color-rgb: 39, 49, 61;
    --bg-color-rgb: 255, 255, 255;
    --subtle-color-rgb: 247, 249, 253;
    --special-color-rgb: 71, 132, 182;
    --special-text-color-rgb: 255, 255, 255;
    --special-bg-color-rgb: 73, 136, 188;
    --shadow-color-rgb: 171, 193, 220;
    --special-shadow-color-rgb: 71, 91, 113;
    --outline-color-rgb: 157, 195, 235;
    --dark-color-rgb: 55, 72, 90;
    --light-color-rgb: 238, 244, 252;}

.dark-theme {
	--bg-color-a01: rgba(32, 32, 32, 0.1);
	--bg-color-a02: rgba(32, 32, 32, 0.2);
	--bg-color-a03: rgba(32, 32, 32, 0.3);
	--bg-color-a04: rgba(32, 32, 32, 0.4);
	--bg-color-a05: rgba(32, 32, 32, 0.5);
	--bg-color-a06: rgba(32, 32, 32, 0.6);
	--bg-color-a07: rgba(32, 32, 32, 0.7);
	--bg-color-a08: rgba(32, 32, 32, 0.8);
	--bg-color-a09: rgba(32, 32, 32, 0.9);
	--bg-color    : rgba(32, 32, 32, 1);

	--text-color: rgba(220, 223, 229, 1);
	--text-soft-color: rgba(184, 188, 194, 1);
	--text-strong-color: rgba(187, 187, 187, 1);

	--subtle-color-a01: rgba(33, 37, 42, 0.1);
	--subtle-color-a02: rgba(33, 37, 42, 0.2);
	--subtle-color-a03: rgba(33, 37, 42, 0.3);
	--subtle-color-a04: rgba(33, 37, 42, 0.4);
	--subtle-color-a05: rgba(33, 37, 42, 0.5);
	--subtle-color-a06: rgba(33, 37, 42, 0.6);
	--subtle-color-a07: rgba(33, 37, 42, 0.7);
	--subtle-color-a08: rgba(33, 37, 42, 0.8);
	--subtle-color-a09: rgba(33, 37, 42, 0.9);
	--subtle-color    : rgba(33, 37, 42, 1);

	--border-color: rgba(38, 49, 61, 1);
		
	--shadow-color-a01: rgba(0, 0, 0, 0.1);
	--shadow-color-a02: rgba(0, 0, 0, 0.2);
	--shadow-color-a03: rgba(0, 0, 0, 0.3);
	--shadow-color-a04: rgba(0, 0, 0, 0.4);
	--shadow-color-a05: rgba(0, 0, 0, 0.5);
	--shadow-color-a06: rgba(0, 0, 0, 0.6);
	--shadow-color-a07: rgba(0, 0, 0, 0.7);
	--shadow-color-a08: rgba(0, 0, 0, 0.8);
	--shadow-color-a09: rgba(0, 0, 0, 0.9);
	--shadow-color: rgba(0, 0, 0, 1);
	
	--input-color: rgba(28, 28, 28, 1);
	
	--outline-color-a01: rgba(100, 164, 220, 0.1);
	--outline-color-a02: rgba(100, 164, 220, 0.2);
	--outline-color-a03: rgba(100, 164, 220, 0.3);
	--outline-color-a04: rgba(100, 164, 220, 0.4);
	--outline-color-a05: rgba(100, 164, 220, 0.5);
	--outline-color-a06: rgba(100, 164, 220, 0.6);
	--outline-color-a07: rgba(100, 164, 220, 0.7);
	--outline-color-a08: rgba(100, 164, 220, 0.8);
	--outline-color-a09: rgba(100, 164, 220, 0.9);
	--outline-color: rgba(100, 164, 220, 1);

	--mark-color: rgba(87, 144, 193, 0.08);
	--special-color: rgba(87, 144, 193, 1);
	--special-bg-color: rgba(60, 102, 138, 1);
	--special-text-color: rgba(220, 223, 229, 1);
	--special-shadow-color: rgba(22, 31, 40, 1);
	--special-mark-color: rgba(220, 223, 229, 0.08);
	--light-color: rgba(191, 214, 242, 1);
	--dark-color: rgba(39, 54, 69, 1);
	--text-color-rgb: 220, 223, 229;
	--bg-color-rgb: 32, 32, 32;
	--subtle-color-rgb: 33, 37, 42;
	--special-color-rgb: 87, 144, 193;
	--special-text-color-rgb: 220, 223, 229;
	--special-bg-color-rgb: 60, 102, 138;
	--shadow-color-rgb: 0, 0, 0;
	--special-shadow-color-rgb: 22, 31, 40;
	--outline-color-rgb: 100, 164, 220;
	--dark-color-rgb: 39, 54, 69;
	--light-color-rgb: 191, 214, 242;
}
.wavy-background {
	background-color: var(--border-color);
	opacity: 0.8;
	background-image: repeating-radial-gradient(circle at 0 0, transparent 0, var(--border-color) 10px), repeating-linear-gradient(var(--shadow-color-a04), var(--input-color));
}

.grid2020-background {
	background-image: linear-gradient(var(--border-color) 1px, transparent 1px), linear-gradient(to right, var(--border-color) 1px, transparent 1px);
	background-size: 20px 20px;
	background-color: var(--subtle-color);
}

.honeycomb-background {
	background:
		radial-gradient(circle farthest-side at 0% 50%, var(--light-color) 23.5%, #0000 0)14.7px 21px,
		radial-gradient(circle farthest-side at 0% 50%, #e4e4f3 24%, #0000 0)13.3px 21px,
		linear-gradient(var(--light-color) 14%, #0000 0, #0000 85%, var(--light-color) 0)0 0,
		linear-gradient(150deg, var(--light-color) 24%, #e4e4f3 0, #e4e4f3 26%, #0000 0, #0000 74%, #e4e4f3 0, #e4e4f3 76%, var(--light-color) 0)0 0,
		linear-gradient(30deg, var(--light-color) 24%, #e4e4f3 0, #e4e4f3 26%, #0000 0, #0000 74%, #e4e4f3 0, #e4e4f3 76%, var(--light-color) 0)0 0,
		linear-gradient(90deg, #e4e4f3 2%, var(--light-color) 0, var(--light-color) 98%, #e4e4f3 0%)0 0 var(--light-color);
	background-size: 28px 42px;
	background-color: var(--light-color);
}


.grid2525-background {
	background-image: linear-gradient(#e4e4f3 1px, transparent 1px), linear-gradient(to right, #e4e4f3 1px, transparent 1px);
	background-size: 25px 25px;
	background-color: #ffffff;
}

.grid5050-background {
	background-image: linear-gradient(#e4e4f3 1px, transparent 1px), linear-gradient(to right, #e4e4f3 1px, transparent 1px);
	background-size: 50px 50px;
	background-color: #ffffff;
}

.grid100100-background {
	background-image: linear-gradient(#e4e4f3 1px, transparent 1px), linear-gradient(to right, #e4e4f3 1px, transparent 1px);
	background-size: 100px 100px;
	background-color: #ffffff;
}

.checkered-board {
	background-size: 200px 200px;
	background-image:
		linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
		linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
		linear-gradient(45deg, transparent 25%, black 25%, black 75%, transparent 75%, transparent),
		linear-gradient(45deg, transparent 25%, black 25%, black 75%, transparent 75%, transparent);
	background-position:
		0 0,
		100px 100px,
		100px 0,
		0 100px;
}



/*Additional styles for dark mode */


body {
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	transition: all 1s; 
	/* transform-style: preserve-3d;  */
	transition-timing-function: cubic-bezier(0, 0, 0, 1);


	/* display: flex;
    justify-content: center;
    align-items: center; */
	/* background: url(images/html_table.jpg) center / cover; */
}

.raised-element {
	font-weight: 300;
	border: none;
	/* Remove default border */
	outline: none;
	/* Remove focus outline */
	/* cursor: pointer; */
	/* Hand cursor for button */
	padding: 4px 9px;
	/* background-color: var(--bg-color); */
	border-radius: 5px;

    background-color: var(--bg-color-a02);
	color: var(--text-color);
	box-shadow: 4px 4px 8px var(--shadow-color),
		-4px -4px 8px var(--bg-color); 
}

.recessed-element {
	font-weight: 300;
	border: none;
	/* Remove default border */
	outline: none;
	/* Remove focus outline */
	/* cursor: pointer; */
	/* Hand cursor for button */
	padding: 4px 9px;
    border-radius: 5px;

    background-color: var(--bg-color-a02);
	color: var(--text-color);
	box-shadow: inset 4px 4px 8px var(--shadow-color),
		inset -4px -4px 8px var(--bg-color);
}

/* .paradigm-button span{
	padding: 0px 8px;
} */
.top-panel {
	opacity: 0;
	position: fixed;
	top: -100%;
	width: 90%;
	height: 100%;
	margin-left: 5%;
	margin-top: 0px;
	transform: perspective(1000px) rotateX(90deg);
	transform-style: preserve-3d;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);


	background-color: rgba(240, 240, 240, 0.90);
}

div {
	font-weight: 350;
}

.bottom-panel {
	opacity: 0;
	position: fixed;
	bottom: -100%;
	width: 90%;
	height: 100%;
	margin-left: 5%;
	margin-top: 0px;
	transform: perspective(1000px) rotateX(90deg);
	transform-style: preserve-3d;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	background-color: rgba(255, 199, 199, 0.9);
}

.left-panel {
	opacity: 0;
	position: fixed;
	/* left: -90%; */
	width: 90%;
	height: 100%;
	margin-right: 0%;
	margin-top: 0px;
	transform: perspective(1000px) rotateY(-90deg);
	transform-style: preserve-3d;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	background-color: rgba(208, 255, 199, 0.9);
}

.right-panel {
	opacity: 0;
	position: fixed;
	right: -90%;
	width: 90%;
	height: 100%;
	margin-left: 0%;
	margin-top: 0px;
	transform: perspective(1000px) rotateY(-90deg);
	transform-style: preserve-3d;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	background-color: rgba(199, 212, 255, 0.9);
}

.toolbar-titlebar {
	height: 34px;
	margin: 8px;
	font-size: 1.4em;

	position: relative;
	z-index: 2;
	cursor: grab;
	/* background-color: var(--bg); */
	color:var(--text-color);
	/* border-radius: 10px; */
	/* border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px; */
}

.toolbar-panel_toolbox {
	float: right;
	min-width: 70px;
}

.toolbar-panel_toolbox>li {
	float: right;
	cursor: pointer
}

.toolbar-panel_toolbox>li>a {
	padding: 5px;
	color: #C5C7CB;
	font-size: 14px;
}

.toolbar-panel_toolbox>li>a:hover {
	background: #F5F7FA
}

.toolbar-configuration-items {
	margin: 0.1em;
	border-radius: 50%;
}

.toolbar-content {
	margin: 8px;
	position: relative;
	transform-style: preserve-3d;
	/* min-width:500px; */
	transition: all 1s;
	display: flex;
}

.toolbar-panel {
	border: solid var(--border-color) 1px;
	/* padding: 10px; */
	position: absolute;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);

	transition: transform 0.3s;
	/* transform-style: preserve-3d; */
	/* background: var(--subtle-color-a05); */
	/* background-color: var(--color-white-a06); */
	/* border: 1px solid #d3d3d3; */
	/* background-image: linear-gradient(158deg, var(--color-dark1), var(--color-dark2) 100%); */
	background-image: linear-gradient(158deg, var(--subtle-color-a02), var(--subtle-color) 80%);
	/* background-color: var(--bg-dark-color-primary); */
	color: var(--text-color);
	text-align: center;
	border-radius: 16px;
	-webkit-user-select: none;
	user-select: none;
	box-shadow: var(--soft-box-shadow-l10);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}
.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}
.fade-out {
    animation: fadeOut 0.3s ease-in-out;
}
.graph-node {
	border: solid var(--border-color) 1px;
    color: var(--text-color);
	position: absolute;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	transition: transform 0.3s;
	transform-style: preserve-3d;
	background-color: var(--bg-color-a08);
	text-align: center;
	border-radius: 16px;
	-webkit-user-select: none;
	user-select: none;
	/* box-shadow:
		0.5px 1.5px 1px rgba(0, 0, 0, 0.015),
		1px 3.3px 2.9px rgba(0, 0, 0, 0.022),
		1.7px 5.5px 6px rgba(0, 0, 0, 0.028),
		2.6px 8.3px 10.6px rgba(0, 0, 0, 0.032),
		3.8px 12px 17.1px rgba(0, 0, 0, 0.036),
		5.3px 17px 26.4px rgba(0, 0, 0, 0.04),
		7.5px 24.1px 39.8px rgba(0, 0, 0, 0.044),
		11px 35px 59.6px rgba(0, 0, 0, 0.049),
		16.9px 54px 91.5px rgba(0, 0, 0, 0.055),
		30px 96px 157px rgba(0, 0, 0, 0.07); */
	box-shadow:var(--soft-box-shadow-l10);
	/* opacity: 0; */
	/* transition-timing-function: cubic-bezier(0, 0, 0, 1);
	transition: all 0.5s; */
	/* transform-style: preserve-3d; */
	/* transform: perspective(1000px) scale3d(1.2, 1.2, 1.2); */
	/* transform: scale(1); */
}
.graph-node-titlebar{
	padding: 10px 20px 10px 20px; 
	background-color:var(--special-bg-color); 
	color: var(--light-color); 
	border-radius:8px;
	/* cursor: default; */
}
.graph-node.active{
	box-shadow: 
		0 0 0 3px var(--outline-color),
		var(--soft-box-shadow-l10);
	cursor: grab;
	/* border: solid #72a836 4px; */
}
.graph-node.onselect{
	box-shadow:
		0 0 0 3px var(--outline-color),
		var(--soft-box-shadow-l10);
	/* border: solid #72a836 4px; */
}
path.arrowhead-path {
    fill: var( --text-soft-color);
}

.graph-surface {
	transition: all 1s;
	transform-style: preserve-3d;
	transform: scale3d(1, 1, 1);
	transform-origin: center center;
	width: 100%;
	height: 100%;
}

.connection-column {
	line-height: 0px;
}

.soft-shadow-l1 {
	box-shadow:
		0.5px 1.5px 1px rgba(0, 0, 0, 0.015);
}

.soft-shadow-l10 {
	box-shadow:
		0.5px 1.5px 1px rgba(0, 0, 0, 0.015),
		1px 3.3px 2.9px rgba(0, 0, 0, 0.022),
		1.7px 5.5px 6px rgba(0, 0, 0, 0.028),
		2.6px 8.3px 10.6px rgba(0, 0, 0, 0.032),
		3.8px 12px 17.1px rgba(0, 0, 0, 0.036),
		5.3px 17px 26.4px rgba(0, 0, 0, 0.04),
		7.5px 24.1px 39.8px rgba(0, 0, 0, 0.044),
		11px 35px 59.6px rgba(0, 0, 0, 0.049),
		16.9px 54px 91.5px rgba(0, 0, 0, 0.055),
		30px 96px 157px rgba(0, 0, 0, 0.07);

}
.toolbar-kit{
	width: 100%;
	border-collapse: collapse;
}
.toolbar-kit th,
td {
	padding: 5px;
}

.diamond-shape {
	width: 100px;
	height: 100px;
	border: solid black 1px;
	transform: rotate(45deg);
	margin: 50px 0;
}

.parallelogram-shape {
	width: 200px;
	height: 100px;
	border: solid black 1px;
	transform: skew(-20deg);
}

.trapezoid-up-shape {
	border-bottom: 100px solid black;
	/* height of the trapezoid */
	border-left: 25px solid transparent;
	/* left slant */
	border-right: 25px solid transparent;
	/* right slant */
	width: 200px;
	/* top width of the trapezoid */
	height: 0;
}

.trapezoid-down-shape {
	border-top: 100px solid black;
	/* height of the trapezoid */
	border-left: 25px solid transparent;
	/* left slant */
	border-right: 25px solid transparent;
	/* right slant */
	width: 200px;
	/* top width of the trapezoid */
	height: 0;
}


.origami-box {
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	/* Moves the top edge of the box to the center of its container */
	left: 50%;
	/* Moves the left edge of the box to the center of its container */
	transform: translate(-50%, -50%);
	/* Shifts the box up and left by half its own width and height */
	width: 500px;
	height: 800px;
	background-color: rgba(44, 62, 80, 0.9);
	/* background-color: transparent; */
	transition: all 1s;
	/* backface-visibility: hidden; */
	transition-timing-function: cubic-bezier(0, 0, 0, 1);
	display: flex;
	overflow-x: visible;
	/*white-space: nowrap; /*Ensures content doesn't wrap onto a new line */
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

.child {
	flex: 0 0 auto;
	/* Ensures the children don't shrink or grow */
	width: 150px;
	/* Example width of each child */
	height: 200px;
	/* Example width of each child */
	margin: 20px;
	background-color: antiquewhite;
	border-radius: 8px;
	box-sizing: border-box;
	/* Ensures padding and border are included in the child width */
	border: 1px solid #ddd;
	/* An optional border to see the bounds of each child div */
	padding: 5px;
	/* Some padding so the text isn't right against the edge of the div */
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	box-shadow: 15px 10px 20px rgba(0, 0, 0, 0.735);
}

.extension-box {
	/* transform: translate(-50%, -50%) rotateY(90deg); */
	transform: translate(50%, -50%) rotateY(110deg);
	opacity: 0;
	background-color: rgba(240, 248, 255, 0.9);
	transform-origin: left center;
}

/* This media query targets screens with a width of less than 768px */
@media only screen and (max-width: 767px) {
	body {
		overflow: hidden;
	}

	.box {
		width: 100%;
		/* Fits device width on smaller screens */
	}
}

.x_panel {
	position: relative;
	width: 100%;
	/* margin-bottom: 10px; */
	padding: 10px 17px;
	display: inline-block;
	background-image: linear-gradient(158deg, var(--subtle-color-a08), var(--subtle-color-a03) 100%);
	/* background: var(--subtle-color-a05); */
	border: 1px solid var(--border-color);
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	opacity: 1;
	transition: all .2s ease;
	border-radius: 10px;

}

.x_title {
	border-bottom: 2px solid #E6E9ED;
	padding: 1px 5px 6px;
	margin-bottom: 10px
}

.x_title .filter {
	width: 40%;
	float: right
}

.x_title h2 {
	margin: 5px 0 6px;
	float: left;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.x_title h2 small {
	margin-left: 10px
}

.x_title span {
	color: #BDBDBD
}

.x_title .configuration-items {
	border: solid silver 1px;
	border-radius: 35%;
	margin-top: 0.5em;
	display: inline-block;
}
.x_content_overflow{
	overflow: scroll;
}
.x_content {
	/* padding: 0 5px; */
	position: relative;
	width: 100%;
	float: left;
	clear: both;
	/* margin-top: 5px; */
}

.x_content h4 {
	font-size: 16px;
	font-weight: 500
}

.panel_toolbox {
	float: right;
	min-width: 70px
}

.panel_toolbox>li {
	float: right;
	cursor: pointer
}

.panel_toolbox>li>a {
	padding: 5px;
	color: #C5C7CB;
	font-size: 14px;
}

.panel_toolbox>li>a:hover {
	background: #F5F7FA
}

.table {
	transition: all 0.3s;
}

.table th td {
	padding: 1rem;
	border-collapse: collapse;
}

.table thead th {
	white-space: nowrap;
	position: sticky;
	top: 0;
	left: 0;
}

.table tbody td {
	font-weight: 300;
	min-width: 1%;
	white-space: nowrap;
	position: relative;
}
.table tbody tr {
	transition: all 0.3s;
}
.table tbody tr:hover {
	font-size: larger;
}
.card {
	width: 300px;
	height: 300px;
	background-color: var(--text-soft-color);
	border-radius: 2em;
	transition: all 0.5s;
	transform-style: preserve-3d;
	transform-origin: center center;
	transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
/* .card:hover {
	width: 500px;
	height: 500px;
	background-color: var(--bg-color);

} */


svg {
	position: absolute;
	/* z-index: -100; */
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.selection-box{
	border: solid var(--outline-color) 3px;
	border-radius: 1rem;
	position: absolute;
	background-color: var(--outline-color-a02);
}